/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.nav {
	display: none;
}
.nav .nav-item {
	color: #6c6c6c;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-right: 30px;
    margin-top: 10px;
}
.nav .nav-item:hover {
	color: #5094f2;
}

.nav .is-active {
	color: #5094f2;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-right: 30px;
    margin-top: 10px;
}

@media (min-width: 960px) {
	.nav{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

